@font-face {
	font-family: "PT Sans Narrow";
	src:
		local("PT Sans Narrow"),
		url("../fonts/ptsansnarrow.woff") format("woff"),
		url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "PT Sans Narrow";
	src:
		local("PT Sans Narrow Bold"),
		url("../fonts/ptsansnarrowbold.woff") format("woff"),
		url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
  font-weight: bold;
  font-style: normal;
}

body {
	font-size: 14px; 
	line-height: 24px;
	color: #000000;
	font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;   
}

h1 {
  font-size: 30px;
	line-height: 36px; 
	text-transform: uppercase;
}

.features-name {
	font-size: 30px;
	line-height: 36px;
	color: #f7f4f1;
	text-transform: uppercase; 
}