@font-face {
	font-family: "PT Sans Narrow";
	src:
		local("PT Sans Narrow"),
		url("../fonts/ptsansnarrow.woff") format("woff"),
		url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "PT Sans Narrow";
	src:
		local("PT Sans Narrow Bold"),
		url("../fonts/ptsansnarrowbold.woff") format("woff"),
		url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
  font-weight: bold;
  font-style: normal;
}

body {
	font-size: 14px; 
	line-height: 24px;
	color: #000000;
	font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;   
}

h1 {
  font-size: 30px;
	line-height: 36px; 
	text-transform: uppercase;
}

.features-name {
	font-size: 30px;
	line-height: 36px;
	color: #f7f4f1;
	text-transform: uppercase; 
}



html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url("../img/barbershop-shop.jpg") no-repeat 50% 3px;
  background-size: 1200px auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
}

.index-logo {
  float: left;
  width: 150px;
}

.main-navigation {
  float: left;
  width: 630px;

  /* Только для оформления сетки */
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;

  /* Только для оформления сетки */
  min-height: 70px;
}

.index-content {
  margin-bottom: 35px;
  /* Только для оформления сетки */
  min-height: 820px;

}

.index-content-title{
  /* Только для оформления сетки */
  min-height: 20px;
}

.index-content-breadcrumbs{
  /* Только для оформления сетки */
  min-height: 20px;
}

.index-content-left {
  float: left;
  width: 220px;
  
  /* Только для оформления сетки */
  min-height: 710px;
}

.index-content-right {
  float: right;
  width: 700px;

  /* Только для оформления сетки */
  min-height: 650px;
}

.mini-сard {
  float: left;
  width: 220px;
	margin-right: 20px;
 margin-bottom: 20px;

  /* Только для оформления сетки */
  min-height: 340px;
}

.mini-сard:nth-child(3n) {
  margin-right: 0;
}

.paginator {
float: left;
margin-top: -15px;
 /* Только для оформления сетки */

}


.main-footer {
  margin-top: 5px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;

  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;

  /* Только для оформления сетки */
  min-height: 90px;
}






















/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > *> * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.index-content-title::before {
  content: ".index-content-title";
  top: -28px;
}

.index-content-breadcrumbs::before {
  content: ".index-content-breadcrumbs";
}

.index-content::before {
  content: ".index-content";
}

.mini-сard::before {
  content: ".mini-сard";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;

}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}